@mixin icon($image: null, $size: 16px) {
	@if $image {
		background: url($image) center / contain no-repeat;
	} @else {
		background: center / contain no-repeat;
	}
	content: "";
	height: $size;
	width: $size;
}

@mixin post-title() {
	font: bold 2.4rem/1.3 Arial, Helvetica, sans-serif;
	margin-bottom: 15px;

	a {
		color: #000;
		text-decoration: none;
	}
}
