> h2 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 130%;
	margin: 20px 0 10px;
}

> p, blockquote > p {
	font-size: 1.4rem;
	line-height: 1.6em;
	margin: 0 0 1.1rem;

	img {
		margin: 10px 0;
	}
}

p, blockquote, li {
	> code {
		border: 1px solid #C9C9C9;
		background: #EEE;
		border-radius: 3px;
		font-size: 1.3rem;
		padding: .1rem .4rem;
		white-space: nowrap;
	}
}

blockquote {
	border-left: 4px solid #C9C9C9;
	color: lighten(#000, 15%);
	margin: 18px 0 18px 15px;
	padding: 5px 0 6px 10px;

	> *:last-child {
		margin-bottom: 0;
	}

	ol, ul {
		margin: 0 0 1.2rem 5px;
	}

	cite {
		font-style: italic;

		&:before {
			content: "\2014  ";
		}
	}
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	color: $green-link;
}

abbr {
	border-bottom: 1px dotted #000;
	cursor: help;
}

ol, ul {
	position: relative;
	
	> li {
		font-size: 1.4rem;
		line-height: 140%;
		margin: 0 0 .4rem 15px;
	}
}

> ol, > ul {
	margin: 0 0 1.2rem 15px;
}

ol {
	list-style-type: decimal;
}

ul {
	> li {
		&:before {
			content: "";
			display: inline-block;
			background: #C9C9C9;
			border-radius: 50%;
			left: -2px;
			position: absolute;
			height: .7rem;
			margin: .6rem 0 0;
			width: .7rem;
		}
	}
}

code {
	font-family: Consolas, "Lucida Console", "Courier New", monospace;
	line-height: 150%;
}

pre {
	border: 1px solid #C9C9C9;
	background: #EEE;
	border-radius: 3px;
	margin: 18px 0;
	overflow: auto;
	padding: 10px;
	tab-size: 2;

	code {
		font-size: 1.3rem;
	}
}
