> h2 {
	font-size: 2em;
	font-weight: bold;
	line-height: 130%;
	margin: 20px 0 10px;
}

> p {
	font-size: 1.4em;
	line-height: 150%;
	margin: 0 0 .8em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	color: $green-link;
}

ol, ul {
	margin: 0 0 1.2em 15px;
	position: relative;
	
	> li {
		font-size: 1.4em;
		line-height: 140%;
		margin: 0 0 .4em 15px;
	}
}

ol {
	list-style-type: decimal;
}

ul {
	> li {
		&:before {
			content: "";
			display: inline-block;
			background: #C9C9C9;
			border-radius: 50%;
			left: -2px;
			position: absolute;
			height: .7em;
			margin: .4em 0 0;
			width: .7em;
		}
	}
}
