// Responsive Media Queries
$responsive-phone: "only screen and (max-width: 519px)";
$responsive-tablet: "only screen and (min-width: 520px) and (max-width: 779px)";
$responsive-tablet-desktop: "only screen and (min-width: 520px)";
$responsive-desktop: "only screen and (min-width: 780px)";

$green-header: #135e13;
$green-label: #adc0ad;
$green-link: #135e13;
